target/
scrooge-benchmark/src/generated
scrooge-core/target/
scrooge-runtime/target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.iml
.idea/
.classpath
.project
.scala_dependencies
.ivyjars
.classpath.txt
sbt-launch.jar
.gcprof
allocation.jar
