package {{package}}

import com.twitter.finagle.{service => ctfs}
import com.twitter.finagle.stats.{NullStatsReceiver, StatsReceiver}
import com.twitter.finagle.thrift.{ClientFunction, Protocols, RichClientParam, ThriftClientRequest}
import com.twitter.util.Future
{{^hasParent}}
import org.apache.thrift.TApplicationException
{{/hasParent}}
import org.apache.thrift.protocol._

{{docstring}}
@javax.annotation.Generated(value = Array("com.twitter.scrooge.Compiler"))
class {{ServiceName}}$FinagleClient(
    {{#hasParent}}override {{/hasParent}}val service: com.twitter.finagle.Service[ThriftClientRequest, Array[Byte]],
    {{#hasParent}}override {{/hasParent}}val clientParam: RichClientParam)
  extends {{#hasParent}}{{finagleClientParent}}(service, clientParam)
  with {{/hasParent}}{{ServiceName}}.MethodPerEndpoint {

  @deprecated("Use com.twitter.finagle.thrift.RichClientParam", "2017-08-16")
  def this(
    service: com.twitter.finagle.Service[ThriftClientRequest, Array[Byte]],
    protocolFactory: TProtocolFactory = Protocols.binaryFactory(),
    serviceName: String = "{{ServiceName}}",
    stats: StatsReceiver = NullStatsReceiver,
    responseClassifier: ctfs.ResponseClassifier = ctfs.ResponseClassifier.Default
  ) = this(
    service,
    RichClientParam(
      protocolFactory,
      serviceName,
      clientStats = stats,
      responseClassifier = responseClassifier
    )
  )

{{#hasFunctions}}
  import {{ServiceName}}._
{{/hasFunctions}}

  {{#hasParent}}override {{/hasParent}}def serviceName: String = clientParam.serviceName
{{^hasParent}}
{{#withAsClosable}}

  override def asClosable: _root_.com.twitter.util.Closable = service
{{/withAsClosable}}

  protected def protocolFactory: TProtocolFactory = clientParam.restrictedProtocolFactory

  protected val tlReusableBuffer: _root_.com.twitter.scrooge.TReusableBuffer =
    clientParam.createThriftReusableBuffer()

  protected def decodeResponse[T <: _root_.com.twitter.scrooge.ThriftStruct](
    resBytes: Array[Byte],
    codec: _root_.com.twitter.scrooge.ThriftStructCodec[T]
  ): _root_.com.twitter.util.Try[T] =
    _root_.com.twitter.finagle.thrift.service.ThriftCodec.decodeResponse(resBytes, codec, protocolFactory, serviceName)

  // ----- end boilerplate.

{{/hasParent}}
{{#hasFunctions}}
  private[this] def stats: StatsReceiver = clientParam.clientStats
  private[this] def responseClassifier: ctfs.ResponseClassifier = clientParam.responseClassifier

  private[this] val scopedStats: StatsReceiver = if (serviceName != "") stats.scope(serviceName) else stats
{{/hasFunctions}}
{{#functions}}
  {{>finagleClientFunction}}
{{/function}}
}

