{{#isEnum}}
_root_.com.twitter.scrooge.internal.TProtocols.validateEnumFieldType(_fieldType, "{{fieldName}}")
{{/isEnum}}
{{^isEnum}}
_root_.com.twitter.scrooge.internal.TProtocols.validateFieldType(TType.{{constType}}, _fieldType, "{{fieldName}}")
{{/isEnum}}
{{#withTrait}}
{{#isLazyReadEnabled}}
if (lazily)
  {{fieldNameForWire}}Offset = _iprot.asInstanceOf[LazyTProtocol].{{offsetSkipProtocol}}()
else
  {{fieldName}} = {{#optional}}_root_.scala.Some({{/optional}}{{readFieldValueOrMethod}}{{#optional}}){{/optional}}
{{/isLazyReadEnabled}}
{{^isLazyReadEnabled}}
{{fieldName}} = {{#optional}}_root_.scala.Some({{/optional}}{{readFieldValueOrMethod}}{{#optional}}){{/optional}}
{{/isLazyReadEnabled}}
{{/withTrait}}
{{^withTrait}}
{{fieldName}} = {{#optional}}_root_.scala.Some({{/optional}}{{readFieldValueOrMethod}}{{#optional}}){{/optional}}
{{/withTrait}}
{{#required}}
{{gotName}} = true
{{/required}}
