{{#isEnum}}
if (_fieldType == TType.I32 || _fieldType == TType.ENUM) {
{{/isEnum}}
{{^isEnum}}
if (_fieldType == TType.{{constType}}) {
{{/isEnum}}
  {{fieldName}} = {{#optional}}_root_.scala.Some({{/optional}}{{readFieldValueName}}(_iprot){{#optional}}){{/optional}}
{{#required}}
  {{gotName}} = true
{{/required}}
} else {
  _root_.com.twitter.scrooge.internal.ApplicationExceptions.throwWrongFieldTypeException(
    "Received wrong type for field '{{fieldName}}' (expected=%s, actual=%s).",
    TType.{{#isEnum}}ENUM{{/isEnum}}{{^isEnum}}{{constType}}{{/isEnum}},
    _fieldType
  )
}
