{{#isEnum}}
_root_.com.twitter.scrooge.internal.TProtocols.validateEnumFieldType(_fieldType, "{{fieldName}}")
{{/isEnum}}
{{^isEnum}}
_root_.com.twitter.scrooge.internal.TProtocols.validateFieldType(TType.{{constType}}, _fieldType, "{{fieldName}}")
{{/isEnum}}
{{fieldName}} = {{#optional}}_root_.scala.Some({{/optional}}{{readFieldValueOrMethod}}{{#optional}}){{/optional}}
{{#required}}
{{gotName}} = true
{{/required}}
