val _set = _iprot.readSetBegin()
if (_set.size == 0) {
  _iprot.readSetEnd()
  _root_.scala.collection.Set.empty[{{eltType}}]
} else {
  val _rv = new _root_.scala.collection.mutable.HashSet[{{eltType}}]
  var _i = 0
  while (_i < _set.size) {
    _rv += {
{{#eltReadWriteInfo}}
      {{>readValue}}
{{/eltReadWriteInfo}}
    }
    _i += 1
  }
  _iprot.readSetEnd()
  _rv
}