{{#isEnum}}
if (_fieldType == TType.I32 || _fieldType == TType.ENUM) {
{{/isEnum}}
{{^isEnum}}
if (_fieldType == TType.{{constType}}) {
{{/isEnum}}
{{#isLazyReadEnabled}}
  {{fieldNameForWire}}Offset = _iprot.{{offsetSkipProtocol}}()
{{/isLazyReadEnabled}}
{{^isLazyReadEnabled}}
  {{fieldName}} = {{#optional}}Some({{/optional}}{{readFieldValueName}}(_iprot){{#optional}}){{/optional}}
{{/isLazyReadEnabled}}
{{#required}}
  {{gotName}} = true
{{/required}}
} else {
  _root_.com.twitter.scrooge.internal.ApplicationExceptions.throwWrongFieldTypeException(
    "Received wrong type for field '{{fieldName}}' (expected=%s, actual=%s).",
    TType.{{#isEnum}}ENUM{{/isEnum}}{{^isEnum}}{{constType}}{{/isEnum}},
    _fieldType
  )
}
