val _list = _iprot.readListBegin()
if (_list.size == 0) {
  _iprot.readListEnd()
  Nil
} else {
  val _rv = new _root_.scala.collection.mutable.ArrayBuffer[{{eltType}}](_list.size)
  var _i = 0
  while (_i < _list.size) {
    _rv += {
{{#eltReadWriteInfo}}
      {{>readValue}}
{{/eltReadWriteInfo}}
    }
    _i += 1
  }
  _iprot.readListEnd()
  _rv
}
