case {{id}} => // {{fieldName}}
{{#isEnum}}
  if (_fieldType == TType.I32 || _fieldType == TType.ENUM) {
{{/isEnum}}
{{^isEnum}}
  if (_fieldType == TType.{{constType}}) {
{{/isEnum}}
    _result = {{StructName}}.{{FieldName}}({
      {{>readValue}}
    })
  } else TProtocolUtil.skip(_iprot, _fieldType)

