{{#public}}
package {{package}}

import com.twitter.scrooge.{
  TFieldBlob,
  ThriftStruct,
  ThriftStructFieldInfo,
  ThriftStructMetaData,
  ThriftUnion,
  ThriftUnionFieldInfo,
  ValidatingThriftStruct,
  ValidatingThriftStructCodec3}
import org.apache.thrift.protocol._
import scala.collection.immutable.{Map => immutable$Map}

{{/public}}
@javax.annotation.Generated(value = Array("com.twitter.scrooge.Compiler"))
sealed trait {{StructName}}
  extends {{parentType}}
  with ValidatingThriftStruct[{{StructName}}] {

  def _codec: ValidatingThriftStructCodec3[{{StructName}}] = {{StructName}}
}

private object {{StructName}}Decoder {
  def apply(_iprot: TProtocol, newUnknown: TFieldBlob => {{StructName}}): {{StructName}} = {
    var _result: {{StructName}} = null
    _iprot.readStructBegin()
    val _field = _iprot.readFieldBegin()
    val _fieldType = _field.`type`
    _field.id match {
{{#fields}}
{{#readWriteInfo}}
      {{>readUnionField}}
{{/readWriteInfo}}
{{/fields}}
      case _ =>
        if (_fieldType != TType.STOP) {
          _result = newUnknown(TFieldBlob.read(_field, _iprot))
        } else {
          TProtocolUtil.skip(_iprot, _fieldType)
        }
    }
    if (_fieldType != TType.STOP) {
      _iprot.readFieldEnd()
      var _done = false
      var _moreThanOne = false
      do {
        val _newField = _iprot.readFieldBegin()
        if (_newField.`type` == TType.STOP)
          _done = true
        else {
          _moreThanOne = true
          TProtocolUtil.skip(_iprot, _newField.`type`)
          _iprot.readFieldEnd()
        }
      } while (!_done)
      if (_moreThanOne) {
        _iprot.readStructEnd()
        throw new TProtocolException("Cannot read a TUnion with more than one set value!")
      }
    }
    _iprot.readStructEnd()
    if (_result eq null)
      throw new TProtocolException("Cannot read a TUnion with no set value!")
    _result
  }
}

object {{StructName}}Aliases {
{{#fields}}

  type {{FieldName}}Alias = {{fieldType}}

  def withoutPassthroughFields_{{FieldName}}(obj: {{StructName}}.{{FieldName}}): {{StructName}}.{{FieldName}} = {
{{#hasPassthroughFields}}
    val field = obj.{{fieldName}}
{{#passthroughFields}}
    {{StructName}}.{{FieldName}}(
      {{>withoutPassthrough}}
    )
{{/passthroughFields}}
{{/hasPassthroughFields}}
{{^hasPassthroughFields}}
    {{StructName}}.{{FieldName}}(obj.{{fieldName}})
{{/hasPassthroughFields}}
  }

{{#hasDefaultValue}}
  val {{FieldName}}DefaultValue: {{FieldName}}Alias = {{defaultFieldValue}}
{{/hasDefaultValue}}
{{#fieldKeyType}}
  val {{FieldName}}KeyTypeManifest: _root_.scala.Option[Manifest[{{fieldKeyType}}]] =
    _root_.scala.Some(manifest[{{fieldKeyType}}])
{{/fieldKeyType}}
{{^fieldKeyType}}
  val {{FieldName}}KeyTypeManifest: _root_.scala.Option[Manifest[_]] = _root_.scala.None
{{/fieldKeyType}}

{{#fieldValueType}}
  val {{FieldName}}ValueTypeManifest: _root_.scala.Option[Manifest[{{fieldValueType}}]] =
    _root_.scala.Some(manifest[{{fieldValueType}}])
{{/fieldValueType}}
{{^fieldValueType}}
  val {{FieldName}}ValueTypeManifest: _root_.scala.Option[Manifest[_]] = _root_.scala.None
{{/fieldValueType}}
{{/fields}}
}

{{docstring}}
@javax.annotation.Generated(value = Array("com.twitter.scrooge.Compiler"))
object {{StructName}} extends ValidatingThriftStructCodec3[{{StructName}}] {
  val Union: TStruct = new TStruct("{{StructNameForWire}}")
{{#fields}}
  val {{fieldConst}}: TField = new TField("{{fieldNameForWire}}", TType.{{constType}}, {{id}})
{{#isEnum}}
  private[this] val {{fieldConst}}I32: TField = new TField("{{fieldNameForWire}}", TType.I32, {{id}})
{{/isEnum}}
  val {{fieldConst}}Manifest: Manifest[{{FieldName}}] = manifest[{{FieldName}}]
{{/fields}}

  {{#structAnnotations}}lazy {{/structAnnotations}}val structAnnotations: immutable$Map[java.lang.String, java.lang.String] =
{{#structAnnotations}}
    immutable$Map[java.lang.String, java.lang.String](
{{#pairs}}
        ("{{key}}", "{{value}}")
{{/pairs|,}}
    )
{{/structAnnotations}}
{{^structAnnotations}}
    immutable$Map.empty[java.lang.String, java.lang.String]
{{/structAnnotations}}

  /**
   * Field information in declaration order.
   */
  {{#hasFields}}lazy {{/hasFields}}val fieldInfos: scala.List[ThriftUnionFieldInfo[_ <: {{StructName}}, _]] = scala.List(
{{#fields}}
    new ThriftUnionFieldInfo[{{FieldName}}, {{StructName}}Aliases.{{FieldName}}Alias](
      {{FieldName}}.fieldInfo,
      {{FieldName}}.unapply
    )
{{/fields|,}}
  )

  override lazy val metaData = new ThriftStructMetaData(
    this,
    Nil,
    Nil,
    fieldInfos.asInstanceOf[Seq[ThriftUnionFieldInfo[_root_.com.twitter.scrooge.ThriftUnion with _root_.com.twitter.scrooge.ThriftStruct, _]]],
    structAnnotations)

  override def encode(_item: {{StructName}}, _oprot: TProtocol): Unit =
    _item.write(_oprot)

  override def decode(_iprot: TProtocol): {{StructName}} =
    {{StructName}}Decoder(_iprot, UnknownUnionField.apply)

  def apply(_iprot: TProtocol): {{StructName}} = decode(_iprot)

  import {{StructName}}Aliases._

  def withoutPassthroughFields(struct: {{StructName}}): {{StructName}} = {
{{#hasFields}}
{{#fields}}
    {{^first}}else {{/first}}if (struct.isInstanceOf[{{FieldName}}]) withoutPassthroughFields_{{FieldName}}(struct.asInstanceOf[{{FieldName}}])
{{/fields}}
    else struct //This is an UnknownUnionField, by definition passthrough
{{/hasFields}}
{{^hasFields}}
    struct
{{/hasFields}}
  }

{{#fields}}
  object {{FieldName}} extends ({{FieldName}}Alias => {{FieldName}}) {
    def withoutPassthroughFields(obj: {{FieldName}}): {{FieldName}} =
      withoutPassthroughFields_{{FieldName}}(obj)

    val fieldInfo: ThriftStructFieldInfo =
      new ThriftStructFieldInfo(
        {{fieldConst}},
        false,
        false,
        manifest[{{FieldName}}Alias],
        {{FieldName}}KeyTypeManifest,
        {{FieldName}}ValueTypeManifest,
{{#fieldTypeAnnotations}}
        immutable$Map(
{{#pairs}}
          ("{{key}}", "{{value}}")
{{/pairs|,}}
        ),
{{/fieldTypeAnnotations}}
{{^fieldTypeAnnotations}}
        immutable$Map.empty[java.lang.String, java.lang.String],
{{/fieldTypeAnnotations}}
{{#fieldFieldAnnotations}}
        immutable$Map(
{{#pairs}}
          ("{{key}}", "{{value}}")
{{/pairs|,}}
        )
{{/fieldFieldAnnotations}}
{{^fieldFieldAnnotations}}
        immutable$Map.empty[java.lang.String, java.lang.String]
{{/fieldFieldAnnotations}}
      )
  }

  case class {{FieldName}}(
      {{fieldName}}: {{FieldName}}Alias{{#hasDefaultValue}} = {{FieldName}}DefaultValue{{/hasDefaultValue}})
    extends {{StructName}} {
{{#fieldNameCamelCase}}
    /** An alias for `{{fieldName}}` */
    def {{fieldNameCamelCase}}: {{FieldName}}Alias = {{fieldName}}
{{/fieldNameCamelCase}}

    protected type ContainedType = {{FieldName}}Alias

    def containedValue(): ContainedType = {{fieldName}}

    def unionStructFieldInfo: _root_.scala.Option[ThriftStructFieldInfo] =
      _root_.scala.Some({{FieldName}}.fieldInfo)

    override def write(_oprot: TProtocol): Unit = {
{{^isPrimitive}}
      if ({{fieldName}} eq null)
        throw new TProtocolException("Cannot write a TUnion with no set value!")
{{/isPrimitive}}
      _oprot.writeStructBegin(Union)
{{#readWriteInfo}}
      {{>writeField}}
{{/readWriteInfo}}
      _oprot.writeFieldStop()
      _oprot.writeStructEnd()
    }
  }

{{/fields}}
  case class UnknownUnionField private[{{StructName}}](
      field: TFieldBlob)
    extends {{StructName}} {

    protected type ContainedType = Unit

    def containedValue(): ContainedType = ()

    def unionStructFieldInfo: _root_.scala.Option[ThriftStructFieldInfo] = _root_.scala.None

    override def write(_oprot: TProtocol): Unit = {
      _oprot.writeStructBegin(Union)
      field.write(_oprot)
      _oprot.writeFieldStop()
      _oprot.writeStructEnd()
    }
  }

 /**
  * Checks that the struct is a valid as a new instance. If there are any missing required or
  * construction required fields, return a non-empty list.
  */
  override def validateNewInstance(
    item: {{StructName}}
  ): scala.Seq[com.twitter.scrooge.validation.Issue] = {
    validateField(item.containedValue())
  }
}
