{{>autogen}}
{{>package}}
{{>type_imports}}
{{>thrift_imports}}
{{#is_exception}}
import com.twitter.finagle.AbstractFailureFlags;
import com.twitter.finagle.JavaFailureFlags;
{{/is_exception}}

// No additional import required for struct/union.

{{#is_union}}
{{>union_inner}}
{{/is_union}}
{{^is_union}}
{{>struct_inner}}
{{/is_union}}
