(() => {
    const meta = input.readListBegin()
    const elems = new Array<{{eltType}}>()
    for (let i = 0; i < meta.size; i++) {
        const elem = {{#eltReadWriteInfo}}{{>readValue}}{{/eltReadWriteInfo}}
        elems.push(elem)
    }
    input.readListEnd()
    return elems
})()
