import thrift from 'thrift'
import {Thrift, Q} from 'thrift'

{{#each structs}}
import { {{StructName}} } from './{{StructName}}'
{{/each}}

{{#each syncFunctionStructs}}
    {{>struct argsStruct}}
    {{>struct requestStruct}}
{{/each}}

class {{ServiceName}}Client {
    public output
    public pClass
    private _seqid
    public _reqs

    constructor(output, pClass) {
        this.output = output
        this.pClass = pClass
        this._seqid = 0
        this._reqs = {}
    }

    public seqid() {
        return this._seqid
    }

    public new_seqid() {
        return this._seqid += 1
    }

    {{#syncFunctions}}
    public {{name}}({{#each args}}{{name}}: {{type}}, {{/each}}callback) {
        this._seqid = this.new_seqid()
        if (callback === undefined) {
            let defer = Q.defer()
            this._reqs[this.seqid()] = function(error, result) {
                if (error) {
                    defer.reject(error)
                } else {
                    defer.resolve(result)
                }
            }
            this.send_{{name}}({{#each args}}{{name}}, {{/each}})
            return defer.promise
        } else {
            this._reqs[this.seqid()] = callback
            this.send_{{name}}({{#each args}}{{name}} {{/each}})
        }
    }

    public send_{{name}}({{#each args}}{{name}}: {{type}}, {{/each}}) {
        const output = new this.pClass(this.output)
        output.writeMessageBegin("{{name}}", Thrift.MessageType.CALL, this.seqid())
        const args = new {{ServiceName}}{{nameTitleCase}}Args()
        {{#each args}}args.{{name}} = {{name}}{{/each}}
        args.write(output)
        output.writeMessageEnd()
        return this.output.flush()
    }

    public recv_{{name}}(input, mtype, rseqid) {
        const noop = () => null
        let callback = this._reqs[rseqid] || noop
        delete this._reqs[rseqid]
        if (mtype === Thrift.MessageType.EXCEPTION) {
            const x = new Thrift.TApplicationException()
            x.read(input)
            input.readMessageEnd()
            return callback(x)
        }
        const result = new {{ServiceName}}{{nameTitleCase}}Result()
        result.read(input)
        input.readMessageEnd()

        if (null !== result.success) {
            return callback(null, result.success)
        }
        return callback("{{name}} failed: unknown result")
    }
    {{/syncFunctions}}
}

class {{ServiceName}}Processor {
    private _handler

    constructor(handler) {
        this._handler = handler
    }

    public process(input, output) {
        const r = input.readMessageBegin()
        if (this["process_" + r.fname]) {
            return this["process_" + r.fname].call(this, r.rseqid, input, output)
        } else {
            input.skip(Thrift.Type.STRUCT)
            input.readMessageEnd()
            const err = `Unknown function ${r.fname}`
            const x = new Thrift.TApplicationException(Thrift.TApplicationExceptionType.UNKNOWN_METHOD, err)
            output.writeMessageBegin(r.fname, Thrift.MessageType.EXCEPTION, r.rseqid)
            x.write(output)
            output.writeMessageEnd()
            output.flush()
        }
    }

    {{#syncFunctions}}public process_{{name}}(seqid, input, output) {
        const args = new {{ServiceName}}{{nameTitleCase}}Args()
        args.read(input)
        input.readMessageEnd()
        if (this._handler.{{name}}.length === {{args.length}}) {
            Q.fcall(this._handler.{{name}}{{#each args}}, args.{{name}}{{/each}}).then((data) => {
                const result = new {{ServiceName}}{{nameTitleCase}}Result({success: data})
                output.writeMessageBegin("{{name}}", Thrift.MessageType.REPLY, seqid)
                result.write(output)
                output.writeMessageEnd()
                output.flush()
            }, (err) => {
                const result = new Thrift.TApplicationException(Thrift.TApplicationExceptionType.UNKNOWN, err.message)
                output.writeMessageBegin("{{name}}", Thrift.MessageType.EXCEPTION, seqid)
                result.write(output)
                output.writeMessageEnd()
                output.flush()
            })
        } else {
            this._handler.{{name}}({{#each args}}args.{{name}}, {{/each}}(err, data) => {
                let result
                if (err == null) {
                    result = new {{ServiceName}}{{nameTitleCase}}Result((err != null ? err : {success: data}))
                    output.writeMessageBegin("{{name}}", Thrift.MessageType.REPLY, seqid)
                } else {
                    result = new Thrift.TApplicationException(Thrift.TApplicationExceptionType.UNKNOWN, err.message)
                    output.writeMessageBegin("{{name}}", Thrift.MessageType.EXCEPTION, seqid)
                }
                result.write(output)
                output.writeMessageEnd()
                output.flush()
            })
        }
    }
    {{/syncFunctions}}
}

export { {{ServiceName}}Processor as Processor }
export { {{ServiceName}}Client as Client }

