{{#docstring}}
{{docstring}}
{{/docstring}}
{{#importDoc}}
{{>importDoc}}

import {Thrift, TProtocol, Int64} from 'thrift'

{{requireStatements}}
{{/importDoc}}

export interface I{{StructName}}Args {
{{#fakeFields}}
    {{fieldName}}{{#optional}}?{{/optional}}: {{fieldType}}
{{/fakeFields}}
{{#fields}}
    {{fieldName}}{{#optional}}?{{/optional}}: {{fieldType}}
{{/fields}}
}

export class {{StructName}} {
{{#fakeFields}}
    public {{fieldName}}: {{fieldType}}
{{/fakeFields}}
{{#fields}}
    public {{fieldName}}: {{fieldType}}
{{/fields}}
    // If possible, populate this with .populate method instead so that
    // we can ensure the struct is constructed correctly
constructor(args?: I{{StructName}}Args) {
{{#has_fields}}
        if (args) {
{{#fields}}
            if (args.{{fieldName}} != null) {
                this.{{fieldName}} = args.{{fieldName}}
            }
{{/fields}}
        }
{{/has_fields}}
    }
    populate(args: I{{StructName}}Args) {
{{#fields}}
            if (args.{{fieldName}} != null) {
                this.{{fieldName}} = args.{{fieldName}}
            }{{^optional}} else {
                throw new Thrift.TProtocolException(Thrift.TProtocolExceptionType.UNKNOWN, 'Required field {{fieldName}} is unset!')
            }{{/optional}}
{{/fields}}
    }

    public read(input: TProtocol): void {
        input.readStructBegin()
        while (true) {
{{#has_fields}}
    const {ftype, fid} = input.readFieldBegin()
{{/has_fields}}
{{^has_fields}}
    const {ftype} = input.readFieldBegin()
{{/has_fields}}
            if (ftype === Thrift.Type.STOP) {
                break
            }
{{#has_fields}}
            switch (fid) {
{{#fields}}
                case {{id}}:
                    {{>readField}}
                    break
{{/fields}}
                default:
                    input.skip(ftype)
            }
{{/has_fields}}
{{^has_fields}}
            input.skip(ftype)
{{/has_fields}}
            input.readFieldEnd()
        }
        input.readStructEnd()
        return
    }

    public write(output: TProtocol): void {
        output.writeStructBegin("{{StructName}}")
{{#fields}}
        if (this.{{fieldName}} != null) {
            {{>writeField}}
        }
{{/fields}}
        output.writeFieldStop()
        output.writeStructEnd()
        return
    }
}
