{{#optional}}
if (this.{{fieldName}} !== undefined) {
{{/optional}}
{{^optional}}
{{#nullable}}
if (this.{{fieldName}} !== null) {
{{/nullable}}
{{^nullable}}
if (true) {
{{/nullable}}
{{/optional}}
    const {{valueVariableName}} = this.{{fieldName}}
    output.writeFieldBegin("{{fieldName}}", Thrift.Type.{{constType}}{{#isEnum}}I32{{/isEnum}}, {{id}})
    {{#readWriteInfo}}{{>writeValue}}{{/readWriteInfo}}
    output.writeFieldEnd()
}
