output.writeListBegin(Thrift.Type.{{eltWireConstType}}, {{name}}.length)
for (let i = 0; i < {{name}}.length; i++) {
    const {{eltName}} = {{name}}[i]
{{#eltReadWriteInfo}}
    {{>writeValue}}
{{/eltReadWriteInfo}}
}
output.writeListEnd()
